@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

.centro {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

#login-section .login-banner {
  height: 360px;
  background: url('../../images/layout/moradores/banner-home.jpg') center top no-repeat;
}

#login-section .login-banner .login-branding {
  margin-left: 50px;
  background: rgba(255, 255, 255, 0.8);
  padding: 22px 30px;
  box-sizing: border-box;
  width: 240px;
  font-size: 0;
}

#login-section .login-banner .login-branding .login-marca {
  width: 90px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#login-section .login-banner .login-branding .login-marca img {
  max-width: 100%;
}

#login-section .login-banner .login-branding p {
  margin-top: -3px;
  line-height: 110%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  width: 90px;
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#login-section .login-inferior {
  margin-top: -120px;
  font-size: 0;
  background: rgba(255, 255, 255, 0.6);
}

#login-section .login-inferior .login-mostra-areas {
  height: 240px;
  width: 240px;
  margin-left: 50px;
  font-size: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#login-section .login-inferior .login-mostra-areas .area {
  height: 120px;
  width: 120px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #fff;
  text-align: center;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#login-section .login-inferior .login-mostra-areas .area p {
  padding: 0 9px;
  text-transform: uppercase;
  line-height: 130%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#login-section .login-inferior .login-mostra-areas .area:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 120px;
  height: 120px;
  opacity: 1;
  transition: opacity 0.3s ease-in;
}

#login-section .login-inferior .login-mostra-areas .area:hover:after {
  opacity: 0;
}

#login-section .login-inferior .login-mostra-areas .area.area-admin {
  background-color: #1A617D;
}

#login-section .login-inferior .login-mostra-areas .area.area-unidade {
  background-color: #A13A76;
}

#login-section .login-inferior .login-mostra-areas .area.area-areascomuns {
  background-color: #FF6600;
}

#login-section .login-inferior .login-mostra-areas .area.area-acesso {
  background-color: #FFAC1F;
}

#login-section .login-inferior .login-mostra-areas .area.area-admin:after {
  background: url('../../images/layout/moradores/iconehome-administracao.png') #1A617D center center no-repeat;
}

#login-section .login-inferior .login-mostra-areas .area.area-unidade:after {
  background: url('../../images/layout/moradores/iconehome-unidade.png') #A13A76 center center no-repeat;
}

#login-section .login-inferior .login-mostra-areas .area.area-areascomuns:after {
  background: url('../../images/layout/moradores/iconehome-areascomuns.png') #FF6600 center center no-repeat;
}

#login-section .login-inferior .login-mostra-areas .area.area-acesso:after {
  background: url('../../images/layout/moradores/iconehome-acesso.png') #FFAC1F center center no-repeat;
}

#login-section .login-inferior .login-form {
  max-width: 680px;
  height: 240px;
  box-sizing: border-box;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#login-section .login-inferior .login-form .pagina-nao-encontrada {
  height: 120px;
  padding: 20px 30px;
  box-sizing: border-box;
}

#login-section .login-inferior .login-form .pagina-nao-encontrada h1 {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 31px;
  line-height: 31px;
  color: #4F4F4F;
}

#login-section .login-inferior .login-form form {
  height: 120px;
  padding: 20px 30px;
  box-sizing: border-box;
}

#login-section .login-inferior .login-form form h2 {
  text-transform: uppercase;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  height: 31px;
  line-height: 31px;
  color: #4F4F4F;
}

#login-section .login-inferior .login-form form .login-form-input {
  display: block;
  position: relative;
  width: 230px;
}

#login-section .login-inferior .login-form form .login-form-input.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 4px 4px 4px 0;
}

#login-section .login-inferior .login-form form .login-form-input.erro input {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#login-section .login-inferior .login-form form .login-form-input.erro input:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#login-section .login-inferior .login-form form .login-form-input.erro:after {
  display: block;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#login-section .login-inferior .login-form form .login-form-input.obrigatorio:after {
  content: "campo obrigatório";
}

#login-section .login-inferior .login-form form .login-form-input.login-invalido:after {
  content: "login inválido";
}

#login-section .login-inferior .login-form form .login-form-input.login-fail:after {
  content: "verifique login e senha";
}

#login-section .login-inferior .login-form form input[type="text"],
#login-section .login-inferior .login-form form input[type="password"] {
  box-sizing: border-box;
  width: 230px;
  height: 31px;
  border-radius: 5px;
  padding: 0 10px;
  color: #8C8C8C;
  transition: all 0.3s ease-in;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

#login-section .login-inferior .login-form form input[type="text"]:focus,
#login-section .login-inferior .login-form form input[type="password"]:focus {
  outline: none;
}

#login-section .login-inferior .login-form form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin-top: 4px;
  text-align: center;
  background-color: #8C8C8C;
  color: #fff;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  box-sizing: border-box;
  width: 50px;
  height: 31px;
  line-height: 31px;
  transition: background-color 0.3s ease-in;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#login-section .login-inferior .login-form form input[type="submit"]:hover {
  background-color: #2CB095;
  cursor: pointer;
}

#login-section .login-inferior .login-form form p {
  color: #8C8C8C;
  line-height: 140%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  margin: 22px 0 0 0;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

.btn {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  margin: 0 0 3px 0;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  border: none;
  padding: 0 20px;
  text-align: center;
  color: #fff;
  transition: all 0.3s ease-in;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.btn:active,
.btn:visited {
  color: #fff;
}

.btn.btn-com-icone {
  padding: 0 20px 0 12px;
}

.btn.btn-com-icone img {
  transition: all 0.3s ease-out;
  vertical-align: -4px;
  margin-right: 3px;
  display: inline-block;
}

.btn.btn-com-icone img.imagem-seta {
  vertical-align: -2px;
}

.btn.btn-com-icone.aberto img {
  transform: rotate(-45deg);
}

.btn.btn-success {
  background-color: #2CB095;
}

.btn.btn-danger {
  height: 26px;
  line-height: 26px;
  border: 2px #CC3300 solid;
  background-color: #CC3300;
}

.btn.btn-warning {
  line-height: 26px;
  border: 2px #FF6600 solid;
  background-color: #FF6600;
}

.btn.btn-info {
  background-color: #808080;
}

.btn.btn-mini {
  height: 15px;
  line-height: 15px;
  padding: 0 5px;
  font-size: 12px;
  vertical-align: middle;
}

.btn.btn-circular {
  line-height: 9px;
  padding: 0;
  width: 10px;
  height: 10px;
  font-size: 11px;
  border-radius: 100%;
}

.btn.btn-xtra-radius {
  border-radius: 7px;
}

.btn.btn-ucase {
  text-transform: uppercase;
}

.btn.btn-vazado {
  border: 1px #1A617D solid;
  border-radius: 0;
  color: #1A617D;
}

.btn:hover {
  cursor: pointer;
}

.btn:hover.btn-success {
  background-color: #2CB095;
}

.btn:hover.btn-danger {
  background-color: #FFF;
  color: #CC3300;
}

.btn:hover.btn-warning {
  background-color: #FFF;
  color: #FF6600;
}

.btn:hover.btn-info {
  background-color: #2CB095;
}

.btn:hover.btn-vazado {
  background-color: #fff;
  color: #1A617D;
}

p.retorno_formulario {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 130%;
  color: #4F4F4F;
  line-height: 31px;
  margin: 15px 0;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px transparent solid;
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}

p.retorno_formulario strong {
  font-weight: bold;
}

p.retorno_formulario + p {
  margin-top: 15px;
}

p.retorno_formulario.erro {
  border-color: #FF6600;
  color: #FF6600;
}

p.retorno_formulario.erro.removendo {
  background: #FF6600;
  color: #fff;
}

p.retorno_formulario.sucesso {
  border-color: #2CB095;
  color: #2CB095;
}

p.retorno_formulario.sucesso.removendo {
  background: #2CB095;
  color: #fff;
}

p.retorno_formulario strong {
  font-weight: bold;
}

p.retorno_formulario small {
  font-size: 10px;
  font-style: italic;
}

footer {
  border-top: 1px #8C8C8C solid;
  border-bottom: 1px #8C8C8C solid;
  height: 50px;
  line-height: 50px;
  text-align: center;
  margin-top: 45px;
  font-family: 'Arial', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #8C8C8C;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#resultado-busca {
  display: none;
  padding: 10px 0;
}

#resultado-busca h2 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: #2CB095;
}

#resultado-busca .resultado:first-child a {
  border-top: 1px #2CB095 solid;
}

#resultado-busca .resultado a {
  border-bottom: 1px #2CB095 solid;
  display: block;
  padding-left: 60px;
  position: relative;
  transition: all 0.3s ease-in;
}

#resultado-busca .resultado a:hover {
  background: #2CB095;
}

#resultado-busca .resultado a:hover .abreviacao-unidade {
  color: #1A617D;
}

#resultado-busca .resultado a:hover .lista-moradores .dados-morador,
#resultado-busca .resultado a:hover .lista-moradores .nome-morador {
  color: #fff;
}

#resultado-busca .resultado a .abreviacao-unidade {
  transition: all 0.3s ease-in;
  background: #2CB095;
  text-align: center;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  width: 60px;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 20px;
  box-sizing: border-box;
}

#resultado-busca .resultado a .lista-moradores {
  font-size: 0;
}

#resultado-busca .resultado a .lista-moradores .morador {
  display: inline-block;
  width: 100%;
  min-height: 60px;
}

#resultado-busca .resultado a .lista-moradores .morador img {
  float: left;
  max-width: 70px;
  max-height: 70px;
}

#resultado-busca .resultado a .lista-moradores .nome-morador {
  transition: all 0.3s ease-in;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #4F4F4F;
  padding: 5px 0 0 15px;
  line-height: 118%;
}

#resultado-busca .resultado a .lista-moradores .nome-morador span {
  padding-top: 3px;
  display: block;
  font-size: 11px;
}

#resultado-busca .resultado a .lista-moradores .dados-morador {
  transition: all 0.3s ease-in;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 175%;
  color: #4F4F4F;
  padding: 5px 0 0 25px;
}

#avisos-busca p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  line-height: 130%;
  color: #4F4F4F;
}

#avisos-busca p strong {
  font-weight: bold;
}

#avisos-busca p + p {
  margin-top: 15px;
}

#avisos-busca p.retorno_busca {
  line-height: 31px;
  margin: 15px 0;
  text-align: center;
  padding: 5px;
  border-radius: 4px;
  background: #fff;
  border: 1px transparent solid;
}

#avisos-busca p.retorno_busca.erro {
  border-color: #FF6600;
  color: #FF6600;
}

#avisos-busca p.retorno_busca.sucesso {
  border-color: #2CB095;
  color: #2CB095;
}

#avisos-busca p.retorno_busca strong {
  font-weight: bold;
}

#avisos-busca p.retorno_busca small {
  font-size: 10px;
  font-style: italic;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#comunicacao-main form {
  border-top: 1px #2CB095 solid;
  padding-top: 15px;
}

#comunicacao-main form .data {
  background: #FF6600;
  border-radius: 4px;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#comunicacao-main form fieldset {
  width: 50%;
}

#comunicacao-main form fieldset label {
  position: relative;
  display: block;
  margin: 7px 0;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#comunicacao-main form fieldset label input[type="text"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#comunicacao-main form fieldset label textarea {
  margin: 0;
  padding: 10px;
  height: 150px;
  line-height: 140%;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#comunicacao-main form fieldset label.input-erro input,
#comunicacao-main form fieldset label.input-erro textarea {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#comunicacao-main form fieldset label.input-erro input:focus,
#comunicacao-main form fieldset label.input-erro textarea:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#comunicacao-main form fieldset label.input-erro:after {
  text-align: right;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  display: block;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#comunicacao-main form fieldset label.obrigatorio:after {
  content: "campo obrigatório";
}

#comunicacao-main form fieldset label.contem-radio {
  width: 45%;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#comunicacao-main form fieldset label.contem-radio.input-erro {
  background: #fbedeb;
  border: 1px solid #ec9488;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#correspondencias-main .form-busca-unidade form label {
  display: block;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper {
  margin: 0 0 5px 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper:after {
  transition: opacity 0.3s ease-in;
  position: absolute;
  top: 0;
  right: 4px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper input[type="text"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 300px;
  background: #F0F0F0;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.bloqueado input {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.bloqueado input:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.bloqueado:after {
  opacity: 1;
  content: "unidade inválida";
  color: #CC3300;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.liberado input {
  background: #CDF4D6;
  border: 1px solid #2CB095;
  position: relative;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.liberado input:focus {
  outline: none;
  box-shadow: 0 0 6px #2CB095;
}

#correspondencias-main .form-busca-unidade form label .input-wrapper.liberado:after {
  opacity: 1;
  content: "ENTER para cadastrar →";
  color: #2CB095;
}

#correspondencias-main .form-busca-unidade form label span.data {
  padding-left: 15px;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 30px;
}

#correspondencias-main .form-busca-unidade form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 0 10px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  background: #FF6600;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
}

#correspondencias-main .form-busca-unidade form input[type="submit"]:hover {
  cursor: pointer;
}

#correspondencias-main #lista-avisos {
  margin-top: 20px;
  max-width: 500px;
}

#correspondencias-main #lista-avisos #input_filtra_tabela {
  margin: 0;
  padding: 0 23px 0 3px;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 70px;
  background: url('../../images/layout/portaria/icone-lupa.png') #F0F0F0 91% center no-repeat;
}

#correspondencias-main #lista-avisos ul {
  margin-top: 10px;
  list-style: none;
}

#correspondencias-main #lista-avisos ul li {
  border-bottom: 1px #ccc solid;
  padding: 2px 0;
  min-height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  clear: left;
  color: #8C8C8C;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#correspondencias-main #lista-avisos ul li .unidade {
  font-weight: bold;
  text-align: right;
  width: 9%;
  float: left;
}

#correspondencias-main #lista-avisos ul li .timestamp {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
}

#correspondencias-main #lista-avisos ul li .marcacao {
  float: left;
  width: 16%;
}

#correspondencias-main #lista-avisos ul li .marcacao a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 11px;
  background: #FFFF99;
  border-radius: 4px;
  padding: 0 10px;
  line-height: 160%;
  color: #8C8C8C;
  font-style: italic;
  border: 1px #FFFF99 solid;
  transition: all 0.3s ease-out;
}

#correspondencias-main #lista-avisos ul li .marcacao a:active,
#correspondencias-main #lista-avisos ul li .marcacao a:visited {
  color: #8C8C8C;
}

#correspondencias-main #lista-avisos ul li .marcacao a:hover {
  color: #2CB095;
  border-color: #2CB095;
}

#correspondencias-main #lista-avisos ul li .marcacao a.marcado {
  background: #2CB095;
  border-color: #2CB095;
  color: #fff;
}

#correspondencias-main #lista-avisos ul li .remover {
  float: right;
  width: 5%;
}

#correspondencias-main #lista-avisos ul li .remover a {
  font-size: 11px;
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

.centro {
  width: 980px;
  max-width: 100%;
  margin: 0 auto;
}

#dashboard-section header {
  border-bottom: 1px #8C8C8C solid;
  font-size: 0;
}

#dashboard-section header .dashboard-branding {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: rgba(255, 255, 255, 0.8);
  padding: 22px 30px;
  box-sizing: border-box;
  width: 240px;
  font-size: 0;
}

#dashboard-section header .dashboard-branding .dashboard-marca {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 90px;
}

#dashboard-section header .dashboard-branding .dashboard-marca img {
  display: block;
  max-width: 100%;
}

#dashboard-section header .dashboard-branding p {
  margin-top: -3px;
  line-height: 110%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  color: #000;
  width: 90px;
  margin: 0;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#dashboard-section header .dashboard-topo {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 740px;
  height: 119px;
  box-sizing: border-box;
  padding: 10px 0 10px 50px;
  position: relative;
}

#dashboard-section header .dashboard-topo .dashboard-busca {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 340px;
}

#dashboard-section header .dashboard-topo .dashboard-busca h1 {
  padding-top: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #8C8C8C;
}

#dashboard-section header .dashboard-topo .dashboard-busca h1 a {
  font-size: 11px;
  color: #8C8C8C;
}

#dashboard-section header .dashboard-topo .dashboard-busca h1 a:active,
#dashboard-section header .dashboard-topo .dashboard-busca h1 a:visited {
  color: #8C8C8C;
}

#dashboard-section header .dashboard-topo .dashboard-busca h1 a:hover {
  text-decoration: underline;
}

#dashboard-section header .dashboard-topo .dashboard-busca form {
  margin-top: 36px;
  width: 345px;
  height: 35px;
}

#dashboard-section header .dashboard-topo .dashboard-busca form input[type="text"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 300px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  background: #F0F0F0;
}

#dashboard-section header .dashboard-topo .dashboard-busca form input[type="submit"] {
  width: 30px;
  height: 30px;
  border-radius: 4px;
  margin-left: 5px;
  background: url('../../images/layout/portaria/setinha-regular.png') #2CB095 center center no-repeat;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#dashboard-section header .dashboard-topo .dashboard-busca form input[type="submit"]:hover {
  cursor: pointer;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros {
  float: right;
  text-align: center;
  width: 100%;
  max-width: 250px;
  font-size: 0;
  padding-top: 20px;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 48%;
  padding-top: 4px;
  padding-bottom: 4px;
  line-height: 130%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
  color: #4F4F4F;
  transition: all 0.3s ease-out;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros a img {
  display: block;
  margin: 0 auto 3px auto;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros a:active,
#dashboard-section header .dashboard-topo .dashboard-cadastros a:visited {
  color: #4F4F4F;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros a:hover,
#dashboard-section header .dashboard-topo .dashboard-cadastros a.ativo {
  color: #2CB095;
  background: #F0F0F0;
}

#dashboard-section header .dashboard-topo .dashboard-cadastros a.ativo {
  font-weight: bold;
}

#dashboard-section aside {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 240px;
}

#dashboard-section aside ul.dashboard-menu {
  font-size: 0;
}

#dashboard-section aside ul.dashboard-menu li {
  min-height: 30px;
  line-height: 30px;
  text-indent: 10px;
  background: #1A617D;
  border-bottom: 1px #467f96 solid;
}

#dashboard-section aside ul.dashboard-menu li h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: 300;
  text-transform: uppercase;
  color: #02C0D4;
}

#dashboard-section aside ul.dashboard-menu li a {
  transition: color 0.3s ease-in;
  color: #fff;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-weight: bold;
}

#dashboard-section aside ul.dashboard-menu li a:active,
#dashboard-section aside ul.dashboard-menu li a:visited {
  color: #fff;
}

#dashboard-section aside ul.dashboard-menu li a:hover,
#dashboard-section aside ul.dashboard-menu li a.ativo {
  color: #81E294;
}

#dashboard-section .main {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 740px;
  box-sizing: border-box;
  padding-left: 50px;
}

#dashboard-section .main h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 17px;
  font-weight: normal;
  color: #2CB095;
  line-height: 100%;
  margin: 25px 0;
  display: block;
}

#dashboard-section .main h1 strong {
  font-weight: bold;
}

#dashboard-section .main#dashboard-main #listaMudancas,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas {
  list-style: none;
  margin-bottom: 30px;
}

#dashboard-section .main#dashboard-main #listaMudancas > li,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li {
  min-height: 30px;
  background: #F0F0F0;
  border-bottom: 1px #9DFF9D solid;
}

#dashboard-section .main#dashboard-main #listaMudancas > li:first-child,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li:first-child {
  line-height: 30px;
  padding-left: 10px;
  border-bottom: 1px #2CB095 solid;
  color: #1A617D;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .unidade,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .unidade {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #2CB095;
  color: #fff;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .descricao,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .descricao {
  line-height: 160%;
  padding: 5px 0 5px 60px;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: 300;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .descricao .titulo,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .descricao .titulo {
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .btn-convidados,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .btn-convidados {
  float: right;
  margin-right: 15px;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .btn-convidados:hover,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .btn-convidados:hover {
  background: #A13A76;
  border-color: #A13A76;
  color: #fff;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .lista-convidados-vazia,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .lista-convidados-vazia {
  float: right;
  margin-right: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border-radius: 4px;
  border: 2px #555 solid;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  padding: 0 5px;
  vertical-align: middle;
  background-color: #555;
}

#dashboard-section .main#dashboard-main #listaMudancas > li .lista-convidados-vazia:active,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .lista-convidados-vazia:active,
#dashboard-section .main#dashboard-main #listaMudancas > li .lista-convidados-vazia:visited,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li .lista-convidados-vazia:visited {
  color: #fff;
}

#dashboard-section .main#dashboard-main #listaMudancas > li.lista-vazia h2,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas > li.lista-vazia h2 {
  color: #CCCCCC;
}

#dashboard-section .main#dashboard-main #listaMudancas .lista-convidados-popup,
#dashboard-section .main#dashboard-main #listaSalaoDeFestas .lista-convidados-popup {
  display: none;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#encomendas-main .form-busca-unidade form label {
  display: block;
}

#encomendas-main .form-busca-unidade form label .input-wrapper {
  margin: 0 0 5px 0;
  padding: 0;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#encomendas-main .form-busca-unidade form label .input-wrapper:after {
  transition: opacity 0.3s ease-in;
  position: absolute;
  top: 0;
  right: 4px;
  height: 30px;
  line-height: 30px;
  text-align: right;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#encomendas-main .form-busca-unidade form label .input-wrapper input[type="text"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 13px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 300px;
  background: #F0F0F0;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.bloqueado input {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.bloqueado input:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.bloqueado:after {
  opacity: 1;
  content: "unidade inválida";
  color: #CC3300;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.liberado input {
  background: #CDF4D6;
  border: 1px solid #2CB095;
  position: relative;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.liberado input:focus {
  outline: none;
  box-shadow: 0 0 6px #2CB095;
}

#encomendas-main .form-busca-unidade form label .input-wrapper.liberado:after {
  opacity: 1;
  content: "ENTER para cadastrar →";
  color: #2CB095;
}

#encomendas-main .form-busca-unidade form label span.data {
  padding-left: 15px;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  font-style: italic;
  line-height: 30px;
}

#encomendas-main .form-busca-unidade form input[type="submit"] {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  padding: 0 10px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: bold;
  background: #FF6600;
  border-radius: 4px;
  height: 20px;
  line-height: 20px;
}

#encomendas-main .form-busca-unidade form input[type="submit"]:hover {
  cursor: pointer;
}

#encomendas-main #lista-avisos {
  margin-top: 20px;
  max-width: 500px;
}

#encomendas-main #lista-avisos #input_filtra_tabela {
  margin: 0;
  padding: 0 23px 0 3px;
  height: 20px;
  line-height: 20px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 11px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 70px;
  background: url('../../images/layout/portaria/icone-lupa.png') #F0F0F0 91% center no-repeat;
}

#encomendas-main #lista-avisos ul {
  margin-top: 10px;
  list-style: none;
}

#encomendas-main #lista-avisos ul li {
  border-bottom: 1px #ccc solid;
  padding: 2px 0;
  min-height: 20px;
  line-height: 20px;
  margin-bottom: 2px;
  clear: left;
  color: #8C8C8C;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#encomendas-main #lista-avisos ul li .unidade {
  font-weight: bold;
  text-align: right;
  width: 9%;
  float: left;
}

#encomendas-main #lista-avisos ul li .timestamp {
  float: left;
  width: 70%;
  box-sizing: border-box;
  padding-left: 40px;
  font-size: 12px;
}

#encomendas-main #lista-avisos ul li .marcacao {
  float: left;
  width: 16%;
}

#encomendas-main #lista-avisos ul li .marcacao a {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  font-size: 11px;
  background: #FFFF99;
  border-radius: 4px;
  padding: 0 10px;
  line-height: 160%;
  color: #8C8C8C;
  font-style: italic;
  border: 1px #FFFF99 solid;
  transition: all 0.3s ease-out;
}

#encomendas-main #lista-avisos ul li .marcacao a:active,
#encomendas-main #lista-avisos ul li .marcacao a:visited {
  color: #8C8C8C;
}

#encomendas-main #lista-avisos ul li .marcacao a:hover {
  color: #2CB095;
  border-color: #2CB095;
}

#encomendas-main #lista-avisos ul li .marcacao a.marcado {
  background: #2CB095;
  border-color: #2CB095;
  color: #fff;
}

#encomendas-main #lista-avisos ul li .remover {
  float: right;
  width: 5%;
}

#encomendas-main #lista-avisos ul li .remover a {
  font-size: 11px;
  width: 14px;
  height: 14px;
  line-height: 14px;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#retorno_formulario_shadow {
  padding: 10px;
}

#retorno_formulario_shadow h3 {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: #2CB095;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#retorno_formulario_shadow p {
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 160%;
  text-align: center;
  padding: 20px 0;
  border-top: 1px #2CB095 solid;
  border-bottom: 1px #2CB095 solid;
}

#retorno_formulario_shadow p strong {
  font-weight: bold;
}

#input-motivo-remocao {
  padding: 10px;
}

#input-motivo-remocao label {
  display: block;
  position: relative;
}

#input-motivo-remocao label h3 {
  display: block;
  margin: 20px 0;
  text-align: center;
  color: #2CB095;
  font-family: 'Ubuntu', sans-serif;
  font-size: 18px;
  font-weight: normal;
}

#input-motivo-remocao label textarea {
  display: block;
  margin: 0 0 15px 0;
  padding: 5px 10px;
  height: 60px;
  line-height: 120%;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#input-motivo-remocao label.input-erro textarea {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#input-motivo-remocao label.input-erro textarea:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#input-motivo-remocao label.input-erro:after {
  text-align: right;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  display: block;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#input-motivo-remocao label.obrigatorio:after {
  content: "campo obrigatório";
}

#input-motivo-remocao .btn {
  margin: 0 auto;
  display: block;
}

#lavanderia-main .busca-lavanderia {
  width: 60%;
}

#lavanderia-main .busca-lavanderia label {
  display: block;
  position: relative;
}

#lavanderia-main .busca-lavanderia label #consultar-unidade-lavanderia {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#lavanderia-main .busca-lavanderia label.input-erro #consultar-unidade-lavanderia {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#lavanderia-main .busca-lavanderia label.input-erro #consultar-unidade-lavanderia:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#lavanderia-main .busca-lavanderia label.input-erro:after {
  text-align: right;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  display: block;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#lavanderia-main .busca-lavanderia label.unidade-invalida:after {
  content: "unidade inválida";
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia {
  display: none;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia h3 {
  margin: 20px 0 0 0;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #4F4F4F;
  line-height: 130%;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia h3 strong {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia h4 {
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  text-align: center;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table {
  width: 120%;
  margin: 20px 0;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr {
  border-bottom: 1px #808080 solid;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr td {
  font-style: italic;
  line-height: 120%;
  padding: 8px 0 1px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #808080;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr td:first-child {
  font-weight: bold;
  text-align: center;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr td:nth-child(2) {
  text-align: center;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr td:nth-child(4) {
  text-align: center;
  font-style: normal;
}

#lavanderia-main .busca-lavanderia #resultados-lavanderia table tr td:nth-child(4) a.btn.btn-circular {
  line-height: 12px;
  font-size: 10px;
}

#lavanderia-main .busca-lavanderia #loader {
  display: none;
}

#lavanderia-main .busca-lavanderia #loader .spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

#lavanderia-main .busca-lavanderia #loader .spinner > div {
  background-color: #2CB095;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#lavanderia-main .busca-lavanderia #loader .spinner .rect2 {
  animation-delay: -1.1s;
}

#lavanderia-main .busca-lavanderia #loader .spinner .rect3 {
  animation-delay: -1s;
}

#lavanderia-main .busca-lavanderia #loader .spinner .rect4 {
  animation-delay: -0.9s;
}

#lavanderia-main .busca-lavanderia #loader .spinner .rect5 {
  animation-delay: -0.8s;
}

#lavanderia-main form {
  border-top: 1px #2CB095 solid;
  margin-top: 15px;
}

#lavanderia-main form h1 {
  margin-bottom: 15px !important;
}

#lavanderia-main form .data {
  background: #FF6600;
  border-radius: 4px;
  display: inline-block;
  padding: 0 15px;
  height: 30px;
  line-height: 30px;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

#lavanderia-main form fieldset {
  width: 60%;
}

#lavanderia-main form fieldset .lavanderia-form-input {
  position: relative;
  display: block;
  margin: 5px 0;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#lavanderia-main form fieldset .lavanderia-form-input input[type="text"],
#lavanderia-main form fieldset .lavanderia-form-input input[type="email"],
#lavanderia-main form fieldset .lavanderia-form-input input[type="password"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#lavanderia-main form fieldset .lavanderia-form-input.espacado {
  margin-top: 20px;
}

#lavanderia-main form fieldset .lavanderia-form-input.lavanderia-form-input-login input {
  background: #99FF99;
}

#lavanderia-main form fieldset .lavanderia-form-input.input-erro input,
#lavanderia-main form fieldset .lavanderia-form-input.input-erro textarea {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#lavanderia-main form fieldset .lavanderia-form-input.input-erro input:focus,
#lavanderia-main form fieldset .lavanderia-form-input.input-erro textarea:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#lavanderia-main form fieldset .lavanderia-form-input.input-erro:after {
  text-align: right;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  display: block;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#lavanderia-main form fieldset .lavanderia-form-input.obrigatorio:after {
  content: "campo obrigatório";
}

#lavanderia-main form fieldset .lavanderia-form-input.unidade-invalida:after {
  content: "unidade inválida";
}

#lavanderia-main form fieldset .lavanderia-form-input.contem-radio {
  width: 45%;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#lavanderia-main form fieldset .lavanderia-form-input.contem-radio.input-erro {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#lavanderia-main #retorno_formulario_shadow,
#lavanderia-main #input-motivo-remocao {
  display: none;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#unidades-main .barra-titulo {
  margin: 25px 0;
}

#unidades-main .barra-titulo h1 {
  display: inline-block;
  vertical-align: top;
  margin: 0 20px 0 0;
  line-height: 20px;
}

#unidades-main .barra-titulo .btn-group {
  display: inline-block;
  vertical-align: top;
  max-width: 60%;
}

#unidades-main .barra-titulo .btn-group a {
  display: inline-block;
  vertical-align: top;
  white-space: nowrap;
  padding: 0 8px;
  border-radius: 4px;
  background: #1A617D;
  height: 20px;
  line-height: 20px;
  color: #fff;
  transition: background 0.3s ease-out;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: bold;
}

#unidades-main .barra-titulo .btn-group a:hover {
  background: #A13A76;
}

#unidades-main .lista-item-popup {
  display: none;
}

#unidades-main .lista-item {
  background: #F0F0F0;
  margin-bottom: 20px;
}

#unidades-main .lista-item h2 {
  display: block;
  border-bottom: 1px #79C9B9 solid;
  padding-left: 10px;
  height: 30px;
  line-height: 30px;
  color: #1A617D;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#unidades-main .lista-item > ul > li {
  border-bottom: 1px #BBFABB solid;
  min-height: 60px;
}

#unidades-main .lista-item > ul > li img {
  max-height: 60px;
  max-width: 60px;
  float: left;
}

#unidades-main .lista-item > ul > li .nome {
  padding: 10px 0 0 72px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #4F4F4F;
}

#unidades-main .lista-item > ul > li .nome span {
  padding-top: 3px;
  font-size: 11px;
  display: block;
  font-style: italic;
}

#unidades-main .lista-item.lista-agendamentos-de-mudanca ul li {
  min-height: auto;
  padding: 10px;
}

#unidades-main .lista-item.lista-agendamentos-de-mudanca ul li p {
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: normal;
}

#unidades-main .lista-item.lista-pessoas-nao-autorizadas {
  background: #FFFF99;
}

#unidades-main .lista-item.lista-prestadores-de-servico ul li {
  font-size: 0;
  padding: 10px;
  min-height: auto;
}

#unidades-main .lista-item.lista-prestadores-de-servico ul li .coluna {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 50%;
  line-height: 140%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  color: #4F4F4F;
}

#unidades-main .lista-item.lista-prestadores-de-servico ul li .coluna h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
}

#unidades-main .lista-item.lista-festas-particulares ul li {
  line-height: 130%;
  color: #4F4F4F;
  padding: 10px;
  min-height: 30px;
  background: #F0F0F0;
  border-bottom: 1px #9DFF9D solid;
}

#unidades-main .lista-item.lista-festas-particulares ul li .btn-convidados {
  float: right;
  margin-right: 15px;
}

#unidades-main .lista-item.lista-festas-particulares ul li .btn-convidados:hover {
  background: #A13A76;
  border-color: #A13A76;
  color: #fff;
}

#unidades-main .lista-item.lista-festas-particulares ul li .lista-convidados-vazia {
  float: right;
  margin-right: 15px;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  border-radius: 4px;
  border: 2px #555 solid;
  text-align: center;
  color: #fff;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  height: 15px;
  line-height: 15px;
  padding: 0 5px;
  vertical-align: middle;
  background-color: #555;
}

#unidades-main .lista-item.lista-festas-particulares ul li .lista-convidados-vazia:active,
#unidades-main .lista-item.lista-festas-particulares ul li .lista-convidados-vazia:visited {
  color: #fff;
}

#unidades-main .lista-item.lista-festas-particulares ul li .titulo {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

#unidades-main .lista-item.lista-festas-particulares ul li p {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#unidades-main .lista-item.lista-festas-particulares ul .lista-convidados-popup {
  display: none;
}

.featherlight .featherlight-content {
  padding: 0;
  background: #F0F0F0;
}

.featherlight .featherlight-content .popup-unidades {
  padding: 30px;
}

.featherlight .featherlight-content .popup-unidades h1 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  color: #2CB095;
  margin: 0 0 20px 0;
  font-weight: normal;
}

.featherlight .featherlight-content .popup-unidades h1 strong {
  font-weight: bold;
}

.featherlight .featherlight-content .popup-unidades ul li {
  border-bottom: 1px #2CB095 solid;
}

.featherlight .featherlight-content .popup-unidades ul li:first-child {
  border-top: 1px #2CB095 solid;
}

.featherlight .featherlight-content .popup-unidades ul li img {
  float: left;
  width: 150px;
  height: 150px;
}

.featherlight .featherlight-content .popup-unidades ul li .nome {
  float: left;
  padding: 20px 0 0 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
}

.featherlight .featherlight-content .popup-unidades ul li .nome span {
  font-size: 13px;
  padding-top: 4px;
  display: block;
}

.featherlight .featherlight-content .popup-unidades ul li .veiculo {
  padding: 20px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: normal;
  line-height: 140%;
}

.featherlight .featherlight-content .popup-unidades ul li .veiculo strong {
  padding-top: 5px;
  display: block;
  font-weight: bold;
  font-size: 20px;
}

.featherlight .featherlight-content #lista-moradores ul li {
  min-height: 150px;
}

.featherlight .featherlight-content #lista-animais-de-estimacao ul li {
  min-height: 150px;
}

.featherlight .featherlight-content #lista-animais-de-estimacao ul li .nome {
  line-height: 150%;
}

.featherlight .featherlight-content .popup-convidados {
  display: block;
  background: #F0F0F0;
  position: relative;
}

.featherlight .featherlight-content .popup-convidados .unidade {
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  background: #2CB095;
  color: #fff;
  float: left;
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
}

.featherlight .featherlight-content .popup-convidados .topo-lista-convidados {
  line-height: 130%;
  color: #4F4F4F;
  border-bottom: 1px #81E294 solid;
  padding: 5px 0 15px 60px;
  margin: 0 0 15px 0;
}

.featherlight .featherlight-content .popup-convidados .topo-lista-convidados h3 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  max-width: 500px;
}

.featherlight .featherlight-content .popup-convidados .topo-lista-convidados .data {
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
}

.featherlight .featherlight-content .popup-convidados .topo-lista-convidados #filtro-lista-convidados {
  border: 1px #4F4F4F solid;
  border-radius: 3px;
  float: right;
  margin: 0 30px 0 0;
  height: 22px;
  line-height: 22px;
  background: #F0F0F0;
  text-indent: 10px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

.featherlight .featherlight-content .popup-convidados h4 {
  font-family: 'Ubuntu', sans-serif;
  font-size: 16px;
  font-weight: bold;
  color: #FF6600;
  font-style: italic;
  margin-bottom: 12px;
  padding-left: 8%;
}

.featherlight .featherlight-content .popup-convidados h4 .toggle-visibilidade-lista-convidados {
  float: right;
  margin-right: 15px;
  color: #4F4F4F;
  font-style: italic;
  transition: all 0.3s ease-in;
  margin-top: 5px;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

.featherlight .featherlight-content .popup-convidados h4 .toggle-visibilidade-lista-convidados span {
  font-weight: bold;
}

.featherlight .featherlight-content .popup-convidados h4 .toggle-visibilidade-lista-convidados:hover {
  color: #2CB095;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados {
  padding: 0 8%;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li {
  margin: 8px 0;
  display: block;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a {
  height: 25px;
  line-height: 25px;
  display: block;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding-left: 6px;
  transition: all 0.3s ease-in;
  border-radius: 4px;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a span {
  margin-right: 15px;
  float: right;
  color: #F0F0F0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
  border: 1px #fff solid;
  border-radius: 15px;
  padding: 2px 6px;
  line-height: 100%;
  margin-top: 5px;
  width: auto;
  height: auto;
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a:hover {
  background: #2CB095;
  color: #fff;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a.presente {
  background: #808080;
  color: #DDD;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a.presente span {
  color: #DDD;
  border-color: #4F4F4F;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li a.oculto {
  overflow: hidden;
  height: 0;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li:last-child {
  display: none;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados li:last-child strong {
  border-top: 1px #CC3300 solid;
  color: #CC3300;
  display: block;
  padding: 10px 0;
  margin: 10px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: bold;
}

.featherlight .featherlight-content .popup-convidados .lista-convidados.mostrar-ocultos li a.oculto {
  height: auto;
}
.centralizar {
  margin: 0 auto;
}

.inline {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
}

#veiculos-main .busca-veiculos label {
  width: 60%;
  display: block;
  position: relative;
}

#veiculos-main .busca-veiculos label #consultar-placa-veiculo {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border: 1px #8C8C8C solid;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#veiculos-main .busca-veiculos #resultados-veiculos {
  display: none;
}

#veiculos-main .busca-veiculos #resultados-veiculos h3 {
  margin: 20px 0 0 0;
  display: block;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  color: #4F4F4F;
  line-height: 130%;
}

#veiculos-main .busca-veiculos #resultados-veiculos h3 strong {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

#veiculos-main .busca-veiculos #resultados-veiculos h4 {
  margin: 20px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 15px;
  font-weight: normal;
  color: #808080;
  text-align: center;
}

#veiculos-main .busca-veiculos #resultados-veiculos table {
  width: 100%;
  margin: 20px 0;
}

#veiculos-main .busca-veiculos #resultados-veiculos table tr {
  border-bottom: 1px #808080 solid;
}

#veiculos-main .busca-veiculos #resultados-veiculos table tr th {
  line-height: 120%;
  padding: 8px 0 1px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: bold;
  color: #808080;
}

#veiculos-main .busca-veiculos #resultados-veiculos table tr td {
  font-style: italic;
  line-height: 120%;
  padding: 8px 0 1px 0;
  font-family: 'Ubuntu', sans-serif;
  font-size: 12px;
  font-weight: normal;
  color: #808080;
}

#veiculos-main .busca-veiculos #resultados-veiculos table tr td:first-child {
  font-weight: bold;
}

#veiculos-main .busca-veiculos #loader {
  display: none;
}

#veiculos-main .busca-veiculos #loader .spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}

#veiculos-main .busca-veiculos #loader .spinner > div {
  background-color: #2CB095;
  height: 100%;
  width: 6px;
  display: inline-block;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}

#veiculos-main .busca-veiculos #loader .spinner .rect2 {
  animation-delay: -1.1s;
}

#veiculos-main .busca-veiculos #loader .spinner .rect3 {
  animation-delay: -1s;
}

#veiculos-main .busca-veiculos #loader .spinner .rect4 {
  animation-delay: -0.9s;
}

#veiculos-main .busca-veiculos #loader .spinner .rect5 {
  animation-delay: -0.8s;
}

#veiculos-main form {
  border-top: 1px #2CB095 solid;
  margin-top: 15px;
}

#veiculos-main form h1 {
  margin-bottom: 15px !important;
}

#veiculos-main form fieldset {
  width: 60%;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input {
  position: relative;
  display: block;
  margin: 5px 0;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input input[type="text"] {
  margin: 0;
  padding: 0 10px;
  height: 30px;
  line-height: 30px;
  box-sizing: border-box;
  color: #4F4F4F;
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: normal;
  border-radius: 4px;
  width: 100%;
  background: #F0F0F0;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.espacado {
  margin-top: 20px;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.input-erro input {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.input-erro input:focus {
  outline: none;
  box-shadow: 0 0 6px #ec9488;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.input-erro:after {
  text-align: right;
  position: absolute;
  right: 4px;
  bottom: 2px;
  color: #f6546a;
  display: block;
  line-height: 100%;
  font-family: 'Ubuntu', sans-serif;
  font-size: 10px;
  font-weight: normal;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.obrigatorio:after {
  content: "campo obrigatório";
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.unidade-invalida:after {
  content: "unidade inválida";
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.contem-radio {
  width: 45%;
  height: 30px;
  line-height: 30px;
  border-radius: 4px;
  padding-left: 10px;
  display: inline-block;
  vertical-align: top;
}

#veiculos-main form fieldset .veiculos-da-unidade-form-input.contem-radio.input-erro {
  background: #fbedeb;
  border: 1px solid #ec9488;
}

#veiculos-main #retorno_formulario_shadow {
  display: none;
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }

  20% {
    transform: scaleY(1);
    -webkit-transform: scaleY(1);
  }
}