@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700,700italic,400italic');

@small_portrait	: ~"(min-width: 0px) and (max-width: 375px) and (orientation: portrait)";
@small_landscape	: ~"(min-width: 0px) and (max-width: 667px) and (orientation: landscape)";

@medium_portrait : ~"(min-width: 376px) and (max-width: 769px) and (orientation: portrait)";
@medium_landscape : ~"(min-width: 668px) and (max-width: 1024px) and (orientation: landscape)";

@large  : ~"(min-width: 770px) and (orientation: portrait), (min-width: 1025px) and (orientation: landscape)";

@cinza: #8C8C8C;
@cinza-escuro: #4F4F4F;
@cinza-medio: #808080;
@cinza-claro: #F0F0F0;

@verde: #2CB095;
@verde-claro: #99FF99;

@amarelo: #FFAC1F;
@amarelo-claro: #FFFF99;

@laranja: #FF6600;

@azul-setor-adm: #1A617D;
@azul-setor-adm-texto: #02C0D4;
@azul-setor-adm-texto-marcado: #81E294;

@rosa-setor-uni: #A13A76;
@rosa-setor-uni-texto: #ff99cc;
@rosa-setor-uni-texto-marcado: #81E294;

@laranja-setor-areascomuns: #FF6600;
@laranja-setor-areascomuns-texto: #ffce9d;
@laranja-setor-areascomuns-texto-marcado: #81E294;

@amarelo-setor-controle: #FFAC1F;
@amarelo-setor-controle-texto: #ffff66;
@amarelo-setor-controle-texto-marcado: #81E294;

@success:#2CB095;
@danger:#CC3300;
@info:#808080;
@warning:#FF6600;

.arial(@fsize:12px, @fweight:normal){
	font-family: 'Arial', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.ubuntu(@fsize:12px, @fweight:normal){
	font-family: 'Ubuntu', sans-serif;
	font-size:@fsize;
	font-weight:@fweight;
}

.centralizar{
	margin:0 auto;
}

.inline{
	display: inline-block;
	*display:inline;
	zoom:1;
	vertical-align:top;
}

.placeholder(@cor:#000){
	&::-webkit-input-placeholder{ color:@cor; }
	&:-moz-placeholder{ color:@cor; }
	&::-moz-placeholder { color:@cor; }
	&:-ms-input-placeholder { color: @cor; }
}