@import '../vars.less';

#comunicacao-main{
  form{
    border-top: 1px @verde solid;
    padding-top: 15px;
    .data{
      background: @laranja;
      border-radius: 4px;
      display:inline-block;
      padding: 0 15px;
      height: 30px;
      line-height: 30px;
      color: #fff;
      .ubuntu(16px);
    }
    fieldset{
      width: 50%;
      label{
        position: relative;
        display: block;
        margin: 7px 0;
        color: @cinza-escuro;
        .ubuntu(14px);
        input[type="text"]{
          margin: 0;
          padding: 0 10px;
          height: 30px;
          line-height: 30px;
          box-sizing: border-box;
          color: @cinza-escuro;
          .ubuntu(14px);
          border: 1px @cinza solid;
          border-radius: 4px;
          width: 100%;
          background: @cinza-claro;
        }
        textarea{
          margin: 0;
          padding: 10px;
          height: 150px;
          line-height: 140%;
          box-sizing: border-box;
          color: @cinza-escuro;
          .ubuntu(14px);
          border: 1px @cinza solid;
          border-radius: 4px;
          width: 100%;
          background: @cinza-claro;
        }
        &.input-erro{
          input,
          textarea{
            background: #fbedeb;
            border: 1px solid #ec9488;
            &:focus{
              outline: none;
              box-shadow: 0 0 6px #ec9488;
            }
          }
        }
        &.input-erro:after{
          text-align: right;
          position: absolute;
          right: 4px;
          bottom: 2px;
          color: #f6546a;
          display: block;
          line-height: 100%;
          .ubuntu(10px);
        }
        &.obrigatorio:after{ content: "campo obrigatório"; }
        &.contem-radio{
          width: 45%;
          height: 30px;
          line-height: 30px;
          border-radius: 4px;
          padding-left: 10px;
          display: inline-block;
          vertical-align: top;
          &.input-erro{
            background: #fbedeb;
            border: 1px solid #ec9488;
          }
        }
      }
    }
  }
}