@import '../vars.less';

#resultado-busca{
	display: none;
	padding: 10px 0;
	h2{
		.ubuntu(18px);
		color: @verde;
	}
	.resultado{
		&:first-child a{border-top: 1px @verde solid;}
		a{
			border-bottom: 1px @verde solid;
			display: block;
			padding-left: 60px;
			position: relative;
			transition: all .3s ease-in;

			// &:hover{
			// 	.abreviacao-unidade{
			// 		color: @azul-setor-adm;
			// 	}
			// }

			&:hover{
				background: @verde;
				.abreviacao-unidade{
					color: @azul-setor-adm;
				}
				.lista-moradores .dados-morador,
				.lista-moradores .nome-morador{
					color: #fff;
				}
			}
			.abreviacao-unidade{
				transition: all .3s ease-in;
				background: @verde;
				text-align: center;
				.ubuntu(16px, bold);
				color: #fff;
				width: 60px;
				height: 100%;
				position: absolute;
				left: 0;
				top: 0;
				padding-top: 20px;
  				box-sizing: border-box;
			}
			.lista-moradores{
				font-size: 0;
				.morador{
					display: inline-block;
					width: 100%;
					min-height: 60px;
					img{
						float: left;
						max-width: 70px;
						max-height: 70px;
					}
				}
				.nome-morador{
					transition: all .3s ease-in;
					float:left;
					.ubuntu(16px);
					color: @cinza-escuro;
					padding: 5px 0 0 15px;
					line-height: 118%;
					span{
						padding-top: 3px;
						display: block;
						font-size: 11px;
					}
				}
				.dados-morador{
					transition: all .3s ease-in;
					float:left;
					.ubuntu(12px);
					line-height: 175%;
					color: @cinza-escuro;
					padding: 5px 0 0 25px;
				}
			}
		}
	}
}

#avisos-busca{
	p{
		.ubuntu(12px);
		line-height: 130%;
		color: @cinza-escuro;
		strong{font-weight: bold;}
		& + p {margin-top: 15px;}
		&.retorno_busca{
			line-height: 31px;
			margin: 15px 0;
			text-align: center;
			padding: 5px;
			border-radius: 4px;
			background: #fff;
			border: 1px transparent solid;
			&.erro{
				border-color: @laranja;
				color: @laranja;
			}
			&.sucesso{
				border-color: @verde;
				color: @verde;
			}
			strong{font-weight: bold;}
			small{
				font-size: 10px;
				font-style: italic;
			}
		}
	}
}
