@import '../vars.less';

.conteudo-cke{

}

.btn{
	.inline;
	margin: 0 0 3px 0;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	border: none;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	transition: all .3s ease-in;
	.ubuntu(14px, bold);
	&:active, &:visited{color: #fff;}
	&.btn-com-icone{
		padding: 0 20px 0 12px;
		img{
			transition: all .3s ease-out;
			vertical-align: -4px;
			margin-right: 3px;
			display: inline-block;
			&.imagem-seta{vertical-align: -2px;}
		}
		&.aberto img{
			transform: rotate(-45deg);
		}
	}
	&.btn-success{
		background-color: @success;
	}
	&.btn-danger{
		height: 26px;
		line-height: 26px;
		border: 2px @danger solid;
		background-color: @danger;
	}
	&.btn-warning{
		line-height: 26px;
		border: 2px @warning solid;
		background-color: @warning;
	}
	&.btn-info{
		background-color: @info;
	}
	&.btn-mini{
		height: 15px;
		line-height: 15px;
		padding: 0 5px;
		font-size: 12px;
		vertical-align: middle;
	}
	&.btn-circular{
		line-height: 9px;
		padding:0;
		width: 10px;
		height: 10px;
		font-size: 11px;
		border-radius: 100%;
	}
	&.btn-xtra-radius{
		border-radius: 7px;
	}
	&.btn-ucase{
		text-transform: uppercase;
	}
	&.btn-vazado{
		border: 1px @azul-setor-adm solid;
		border-radius: 0;
		color: @azul-setor-adm;
	}

	&:hover{
		cursor: pointer;
		&.btn-success{ background-color: #2CB095; }
		&.btn-danger{
			background-color: #FFF;
			color: @danger;
		}
		&.btn-warning{
			background-color: #FFF;
			color:@warning;
		}
		&.btn-info{ background-color: @success; }
		&.btn-vazado{
			background-color: #fff;
			color: @azul-setor-adm;
		}
	}
}

p.retorno_formulario{
	strong{font-weight: bold;}
	& + p {margin-top: 15px;}
	.ubuntu(12px);
	line-height: 130%;
	color: @cinza-escuro;
	line-height: 31px;
	margin: 15px 0;
	text-align: center;
	padding: 5px;
	border-radius: 4px;
	background: #fff;
	border: 1px transparent solid;
	transition: background-color .3s ease-out,
							color .3s ease-out;
	&.erro{
		border-color: @laranja;
		color: @laranja;
		&.removendo{
			background: @laranja;
			color: #fff;
		}
	}
	&.sucesso{
		border-color: @verde;
		color: @verde;
		&.removendo{
			background: @verde;
			color: #fff;
		}
	}
	strong{font-weight: bold;}
	small{
		font-size: 10px;
		font-style: italic;
	}
}

footer{
	border-top: 1px @cinza solid;
	border-bottom: 1px @cinza solid;
	height: 50px;
	line-height: 50px;
	text-align: center;
	margin-top: 45px;
	.arial(12px);
	color: @cinza;
}