@import '../vars.less';

#correspondencias-main{

	.form-busca-unidade{
		form{
			label{
				display: block;
				.input-wrapper{
					margin: 0 0 5px 0;
					padding: 0;
					height: 30px;
					line-height: 30px;
					box-sizing: border-box;
					position: relative;
					.inline;
					&:after{
						transition: opacity .3s ease-in;
						position: absolute;
						top: 0;
						right: 4px;
						height: 30px;
						line-height: 30px;
						text-align: right;
						.ubuntu(10px);
					}
					input[type="text"]{
						margin: 0;
						padding: 0 10px;
						height: 30px;
						line-height: 30px;
						box-sizing: border-box;
						color: @cinza-escuro;
						.ubuntu(13px);
						border: 1px @cinza solid;
						border-radius: 4px;
						width: 300px;
						background: @cinza-claro;
					}
					&.bloqueado{
						input{
							background: #fbedeb;
  							border: 1px solid #ec9488;
  							&:focus{
  								outline: none;
  								box-shadow: 0 0 6px #ec9488;
  							}
  						}
  						&:after{
							opacity:1;
							content: "unidade inválida";
							color: @danger;
						}
					}
					&.liberado{
						input{
							background: #CDF4D6;
  							border: 1px solid @verde;
  							position: relative;
  							&:focus{
	  							outline: none;
  								box-shadow: 0 0 6px @verde;
  							}
  						}
						&:after{
							opacity:1;
							content: "ENTER para cadastrar →";
							color: @verde;
						}
					}
				}
				span.data{
					padding-left: 15px;
					color: @cinza-escuro;
					.ubuntu(12px, bold);
					font-style: italic;
					line-height: 30px;
				}
			}
			input[type="submit"]{
				.inline;
				padding: 0 10px;
				color: #fff;
				.ubuntu(11px, bold);
				background: @laranja;
				border-radius: 4px;
				height: 20px;
				line-height: 20px;
				&:hover{
					cursor: pointer;
				}
			}
		}
	}

	#lista-avisos{
		margin-top: 20px;
		max-width: 500px;
		#input_filtra_tabela{
			margin: 0;
			padding: 0 23px 0 3px;
			height: 20px;
			line-height: 20px;
			box-sizing: border-box;
			color: @cinza-escuro;
			.ubuntu(11px);
			border: 1px @cinza solid;
			border-radius: 4px;
			width: 70px;
			background: url('../../images/layout/portaria/icone-lupa.png')  @cinza-claro 91% center no-repeat;
		}
		ul{
			margin-top: 10px;
			list-style: none;
			li{
				border-bottom: 1px #ccc solid;
				padding: 2px 0;
				min-height: 20px;
				line-height: 20px;
				margin-bottom: 2px;
				clear: left;
				color: @cinza;
				.ubuntu(14px);
				.unidade{
					font-weight: bold;
					text-align: right;
					width: 9%;
					float: left;
				}
				.timestamp{
					float: left;
					width: 70%;
					box-sizing: border-box;
					padding-left: 40px;
					font-size: 12px;
				}
				.marcacao{
					float: left;
					width: 16%;
					a{
						.inline;
						font-size: 11px;
						background: @amarelo-claro;
						border-radius: 4px;
						padding: 0 10px;
						line-height: 160%;
						color: @cinza;
						font-style: italic;
						border: 1px @amarelo-claro solid;
						transition: all .3s ease-out;
						&:active, &:visited{color: @cinza;}
						&:hover{
							color:@verde;
							border-color:@verde;
						}
						&.marcado{
							background: @verde;
							border-color: @verde;
							color: #fff;
						}
					}
				}
				.remover{
					float: right;
					width: 5%;
					a{
						font-size: 11px;
						width: 14px;
						height: 14px;
						line-height: 14px;
					}
				}
			}
		}
	}

}