@import '../vars.less';

#enquetes-main{
  ul#lista-enquetes{
    & > li{
      font-size: 0;
      margin-bottom: 20px;
      .titulo{
        display: inline-block;
        vertical-align: top;
        width: 20%;
        text-align: center;
        box-sizing: border-box;
        h2{
          .ubuntu(14px, bold);
          color: #fff;
          text-transform: uppercase;
        }
        .data{
          .ubuntu(12px);
          font-style: italic;
          color: #fff;
        }
      }
      .texto{
        display: inline-block;
        vertical-align: top;
        width: 80%;
        box-sizing: border-box;
        background: @cinza-claro;
      }
      &#enquete-ativa{
        background: #FFAC1F;
        .titulo{
          padding: 20px 0;
          .data{
            padding: 25px 0;
          }
        }
        .texto{
          padding: 20px;
          .questao{
            .ubuntu(16px);
            color: @cinza-escuro;
            line-height: 140%;
          }
          form{
            ul.lista-opcoes{
              padding: 15px 0;
              & > li{
                display: block;
                margin-bottom: 10px;
                label{
                  display: block;
                  line-height: 130%;
                  .ubuntu(16px, bold);
                  color: @cinza-medio;
                  font-style: italic;
                  &:hover{ cursor:pointer; }
                }
              }
            }
            .submit-box{
              a{
                margin-left: 20px;
                line-height: 30px;
                font-style: italic;
                .ubuntu(12px);
                color: @cinza-medio;
                transition: color .3s ease-in;
                &:hover{ color: @success; }
              }
            }
          }
        }
      }
      &:not(#enquete-ativa){
        background: @cinza-medio;
        transition: background .3s ease-in;
        .titulo{
          padding: 10px 15px;
          .data{
            padding: 5px 0 10px 0;
          }
        }
        .texto{
          min-height: 61px;
          p{
            padding: 10px 15px;
            line-height: 140%;
          }
        }
        &:hover{
          background: @success;
        }
      }
    }
  }
  #resultado-enquetes{
    font-size: 0;
    background: #FFAC1F;
    margin-bottom: 20px;
    .titulo{
      display: inline-block;
      vertical-align: top;
      width: 20%;
      text-align: center;
      box-sizing: border-box;
      padding: 20px 0;
      h2{
        .ubuntu(14px, bold);
        color: #fff;
        text-transform: uppercase;
      }
      .data{
        .ubuntu(12px);
        font-style: italic;
        color: #fff;
        padding: 25px 0;
      }
    }
    .texto{
      min-height: 116px;
      display: inline-block;
      vertical-align: top;
      width: 80%;
      box-sizing: border-box;
      background: @cinza-claro;
      padding: 20px;
      .questao{
        .ubuntu(16px);
        color: @cinza-escuro;
        line-height: 140%;
      }
      ul.lista-opcoes{
        padding: 15px 0;
        & > li{
          display: block;
          margin-bottom: 20px;
          label{
            display: block;
            line-height: 130%;
            .ubuntu(14px);
            color: @cinza-medio;
            strong{ font-weight: bold; }
          }
          .porcentagem{
            height: 5px;
            width: 100%;
            position: relative;
            background: #CCC;
            .barra{
              height: 5px;
              left:0;
              top: 0;
              width:0;
              position: absolute;
              background: @laranja;
            }
          }
        }
      }
    }
  }
}