@import '../vars.less';

.conteudo-cke{
	.ubuntu(15px);
	color: @cinza-escuro;
	ul, ol{
		margin: 15px 0;
		list-style: disc inside !important;
		li{
			line-height: 140%;
			margin-bottom: 3px;
			display: list-item !important;
		}
	}
	p{
		strong{
			font-weight: bold !important;
		}
		em{
			font-style: italic !important;
		}
		a{
			font-weight: bold;
			color: @azul-setor-adm;
			transition: color .3s ease-in;
			text-decoration: underline;
			&:hover{
				color: @verde;
			}
		}
	}
}

section{
	font-size: 0;
}

.main{
	padding-top: 20px;
	h1{
		.ubuntu(18px);
		color: @verde;
		margin: 0 0 15px 0;
	}
	p{
		.ubuntu(15px);
		line-height: 130%;
		color: @cinza-escuro;
		strong{font-weight: bold;}
		& + p {margin-top: 15px;}
		&.retorno_formulario{
			line-height: 31px;
			margin: 15px 0;
			text-align: center;
			padding: 5px;
			border-radius: 4px;
			background: #fff;
			border: 1px transparent solid;
			transition: background-color .3s ease-out,
									color .3s ease-out;
			&.erro{
				border-color: @laranja;
				color: @laranja;
				&.removendo{
					background: @laranja;
					color: #fff;
				}
			}
			&.sucesso{
				border-color: @verde;
				color: @verde;
				&.removendo{
					background: @verde;
					color: #fff;
				}
			}
			strong{font-weight: bold;}
			small{
				font-size: 10px;
				font-style: italic;
			}
		}
	}
}

.btn{
	.inline;
	margin: 0 6px 3px 0;
	height: 30px;
	line-height: 30px;
	border-radius: 4px;
	border: none;
	padding: 0 20px;
	text-align: center;
	color: #fff;
	transition: all .3s ease-in;
	.ubuntu(14px, bold);
	&:active, &:visited{color: #fff;}
	&.btn-com-icone{
		padding: 0 20px 0 12px;
		img{
			transition: all .3s ease-out;
			vertical-align: -4px;
			margin-right: 3px;
			display: inline-block;
			&.imagem-seta{vertical-align: -2px;}
		}
		&.aberto img{
			transform: rotate(-45deg);
		}
	}
	&.btn-success{
		background-color: @success;
	}
	&.btn-danger{
		height: 26px;
		line-height: 26px;
		border: 2px @danger solid;
		background-color: @danger;
	}
	&.btn-warning{
		line-height: 26px;
		border: 2px @warning solid;
		background-color: @warning;
	}
	&.btn-info{
		background-color: @info;
	}
	&.btn-default{
		color: @info;
		height: 26px;
		line-height: 26px;
		background-color: #fff;
		border: 2px @info solid;
		margin-left: 5px;
	}
	&.btn-mini{
		height: 15px;
		line-height: 15px;
		padding: 0 5px;
		font-size: 12px;
		vertical-align: middle;
	}
	&.btn-circular{
		line-height: 9px;
		padding:0;
		width: 10px;
		height: 10px;
		font-size: 11px;
		border-radius: 100%;
	}
	&.btn-xtra-radius{
		border-radius: 7px;
	}
	&.btn-ucase{
		text-transform: uppercase;
	}
	&.btn-vazado{
		border: 1px @azul-setor-adm solid;
		border-radius: 0;
		color: @azul-setor-adm;
	}

	&:hover{
		cursor: pointer;
		&.btn-success{ background-color: #2CB095; }
		&.btn-danger{
			background-color: #FFF;
			color: @danger;
		}
		&.btn-warning{
			background-color: #FFF;
			color:@warning;
		}
		&.btn-info{ background-color: @success; }
		&.btn-vazado{
			background-color: #fff;
			color: @azul-setor-adm;
		}
		&.btn-default{
			background: @info;
			color:#fff;
		}
	}
}

footer{
	border-top: 1px @cinza solid;
	border-bottom: 1px @cinza solid;
	text-align: center;
	padding: 15px 0px;
	margin-top: 25px;
	p{
		.arial(12px);
		line-height: 140%;
		color: @cinza;
		margin:5px auto;
		max-width: 50%;
		a{
			color: @success;
			&:hover{
				text-decoration: underline;
			}
		}
	}
}

.tema-tooltipster-custom {
	border-radius: 5px;
	background: @amarelo-claro;
	color: @cinza-escuro;
	.tooltipster-content {
		.ubuntu(10px);
		line-height: 115%;
		padding: 8px 10px;
		strong{font-weight: bold;}
	}
}

.featherlight{
	.featherlight-content{
		background: @amarelo-claro;
		border-radius: 6px;
		padding: 20px 30px 0 20px;
		overflow: visible;
		.featherlight-close{
			background: transparent;
			top: -24px;
			color: #FFF;
		}
		#modulo-inativo-shadow,
		#register-visibilidade-shadow,
		#form-visibilidade-shadow{
			h2{
				max-width: 240px;
				margin: 0 auto;
				display: block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				border-radius: 4px;
				color: @cinza-escuro;
				background: #fff;
				text-transform: lowercase;
				.ubuntu(14px, normal);
			}
			p{
				color: @cinza-escuro;
				.ubuntu(12px, bold);
				margin:10px 0;
				&.p-extra-espaco{
					text-align: center;
					margin: 40px 0;
				}
			}
			ul{
				list-style: none;
				li{
					height: 30px;
					line-height: 30px;
					position: relative;
					color: @cinza-escuro;
					.ubuntu(15px, light);
					label{
						display: block;
						cursor: pointer;
						position: relative;
						height: 30px;
						line-height: 30px;
						input{
							width: 30px;
							height: 30px;
							opacity: 0;
							vertical-align: top;
						}
						&:after,
						&:before{
							position: absolute;
							content: "";
							display: block;
							left: 0;
							top: 9px;
							width: 20px;
							height: 12px;
							background-color: @amarelo-claro;
							background-repeat: no-repeat;
							background-image: url('../../images/layout/moradores/sprite-visualizacao.png');
						}
						&:after{
							// ícone off
							z-index: 1;
							background-position: -21px 0px;
						}
						&:before{
							// ícone on
							z-index: 2;
							opacity: 0;
							transition: opacity .15s ease-in;
							background-position: 0px 0px;
						}
						&.marcado:before{
							opacity: 1;
						}
					}
				}
			}
			button{
				display: block;
				margin: 5px auto 0 auto;
				width: 115px;
				padding: 0;
				height: 31px;
				line-height: 31px;
				text-align: center;
				.ubuntu(14px, bold);
				color: #fff;
				background: @cinza-escuro;
				border: 0;
				outline: 0;
				border-radius: 4px;
				transition: background .3s ease-in;
				cursor: pointer;
				&:hover{ background:@verde; }
			}
		}
		#modal-reservar-espacos{
			text-align: center;
			.informacoes-reserva{
				width:70%;
				color:@cinza-escuro;
				line-height: 130%;
				padding-bottom: 10px;
				border-bottom: 1px @verde solid;
				margin: 0 auto 10px auto;
				.ubuntu(14px);
				strong{
					font-weight: bold;
				}
				em{
					font-style: italic;
				}
			}
			p{
				margin: 0;
				color:@cinza-escuro;
				line-height: 130%;
				.ubuntu(14px);
			}
			textarea{
				display: block;
				resize: none;
				height: 70px;
				width: 90%;
				padding: 10px;
				box-sizing: border-box;
				background: #fff;
				border-radius: 4px;
				margin: 10px auto;
				color:@cinza;
				.ubuntu(13px);
			}
			.anotacoes-gravadas{
				width: 90%;
				padding: 10px;
				box-sizing: border-box;
				background: @cinza-claro;
				border-radius: 4px;
				margin: 10px auto;
				display: block;
				color:@cinza-escuro;
				height: 70px;
				.ubuntu(13px);
			}
			.botoes{
				.btn:first-child{
					margin-right: 10px;
				}
			}
		}
		#modal-cancelar-diaria{
			h2{
				margin: 0 auto;
				display: block;
				height: 30px;
				line-height: 30px;
				text-align: center;
				color: @cinza-escuro;
				.ubuntu(16px, normal);
			}
			p{
				max-width: 80%;
				text-align: center;
				color: @cinza-escuro;
				.ubuntu(14px);
				margin: 0 auto 10px auto;
				display: block;
				line-height: 140%;
			}
			hr{
				border-style: solid;
				border-color: @verde;
				border-width: 1px;
				max-width: 60%;
			}
			.botoes{
				text-align: center;
				a:first-child{ margin-right: 5px; }
			}
		}
	}
	&.cancelamento_diaria{
		.featherlight-content{
			max-width: 250px;
			box-sizing: border-box;
		}
	}
}

/**
 * This theme is an example to show how you can create your own.
 */
.pika-single.gallery-theme {
    color: @cinza-escuro;
    background: #fff;
		border: none;

		.pika-label {
			text-transform: lowercase;
			.ubuntu(12px, bold);
		}

		.pika-prev,
		.is-rtl .pika-next {
			background: url('../../images/layout/moradores/seta-calendario-esquerda.png') center center no-repeat;
		}

		.pika-next,
		.is-rtl .pika-prev {
			background: url('../../images/layout/moradores/seta-calendario-direita.png') center center no-repeat;
		}

		.pika-table{
			border-top: 1px @verde solid;
		}

		.pika-table th {
			color: @cinza-escuro;
		}

		.pika-button {
			color: @cinza-escuro;
			background: #fff;
		}

		.pika-week {
			color: #999;
		}

		.is-today .pika-button {
			color: #33aaff;
		}

		.is-selected .pika-button {
			color: @cinza-escuro;
			background: #99FF99;
			box-shadow:inset 0 0 1px 1px @cinza-medio;
		}

		.is-disabled .pika-button {
			color: #000;
			background: #ccc;
			opacity: .3;
		}

		.pika-button:hover {
			color: @cinza-escuro !important;
			background: #99FF99 !important;
		}
}




.spinner {
  margin: 50px auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
	& > div {
	  background-color: @success;
	  height: 100%;
	  width: 6px;
	  display: inline-block;

	  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
	  animation: sk-stretchdelay 1.2s infinite ease-in-out;
	}
	.rect2 {
		-webkit-animation-delay: -1.1s;
		animation-delay: -1.1s;
	}
	.rect3 {
		-webkit-animation-delay: -1.0s;
		animation-delay: -1.0s;
	}

	.rect4 {
		-webkit-animation-delay: -0.9s;
		animation-delay: -0.9s;
	}

	.rect5 {
		-webkit-animation-delay: -0.8s;
		animation-delay: -0.8s;
	}
}

@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}

@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
    transform: scaleY(1.0);
    -webkit-transform: scaleY(1.0);
  }
}
