@import '../vars.less';

#agenda-administracao-main{
	#lista-agenda{
		margin: 20px 0;
		& > li{
			font-size: 0;
			margin-bottom: 5px;
			.data{
				.inline;
				width: 11%;
				background: @cinza-medio;
				color: #fff;
				text-align: center;
				padding: 20px;
				box-sizing: border-box;
				border-radius: 6px;
				.ubuntu(16px, bold);
				.dia{ font-size: 24px; }
				.mes{
					text-transform: uppercase;
					font-size: 16px;
					padding: 4px 0;
					margin: 4px 0;
					border-top: 1px #fff solid;
					border-bottom: 1px #fff solid;
				}
				.ano{ font-size: 13px; }
			}
			.conteudo{
				.inline;
				box-sizing: border-box;
				border-radius: 6px;
				margin-left: 5px;
				width: 88%;
				background: @cinza-claro;
				padding: 20px;
				box-sizing: border-box;
				h2{
					.ubuntu(15px, bold);
					text-transform: uppercase;
					margin-bottom: 5px;
					color: @cinza-escuro;
				}
				.texto{
					margin-bottom: 20px;
					p{
						.ubuntu(15px);
						color: @cinza-escuro;
					}
				}
				.horario{
					.ubuntu(15px, bold);
					font-style: italic;
					color: @success;
				}
			}
		}
	}
}