@import '../vars.less';

#veiculos-da-unidade-main{
	ul#lista-registros{
		margin: 20px 0 0 0;
		padding: 15px 0 0 0;
		font-size: 0;
		border-top:1px @verde solid;
		font-size: 0;
		li{
			.inline;
			width: 42%;
			margin-right: 8%;
			padding-bottom: 15px;
			min-height: 30px;
			.veiculos-da-unidade-texto{
				width: 100%;
				min-height: 30px;
				position: relative;
				line-height: 30px;
				color: @cinza-escuro;
				.ubuntu(14px);
				.texto{
					max-width: 78%;
					strong{font-weight: bold;}
				}
				.acoes{
					position: absolute;
					top: 0;
					right: 0;
					.btn{
						margin: 0 3px 0 0;
					}
				}
			}
		}
	}
	#controle-veiculos-da-unidade{
		border-top: 1px @verde solid;
		padding: 30px 0 0 0;
		margin: 20px 0 0 0;
		form{
			position: relative;
			padding-top: 30px;
			box-sizing: border-box;

			overflow: hidden;
			max-height: 0;
			opacity: 0;

			transition: opacity .3s ease-in 0s,
									max-height .3s ease-in 0s;

			&.aberto{
				max-height: 180px;
				opacity: 1;
			}

			fieldset{
				width: 62%;
				label.veiculos-da-unidade-form-input{
					position: relative;
					display: block;
					margin-bottom: 5px;
					input[type="text"]{
						background: #F0F0F0;
						box-sizing: border-box;
						width: 100%;
						height: 31px;
						border-radius: 5px;
						padding: 0 10px;
						color: @cinza-escuro;
						transition: all .3s ease-in;
						.ubuntu(12px);
						&:focus{
  						outline: none;
  					}
					}
	  			&.input-inline{
						width: 50%;
						box-sizing: border-box;
						.inline;
						&.com-margem{
							padding-right: 4px;
						}
					}
					&.input-erro{
						input{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.input-erro:after{
						text-align: right;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						display: block;
						.ubuntu(10px);
					}
					&.obrigatorio:after{ content: "campo obrigatório"; }
				}
			}
			.veiculos-da-unidade-input-addon{
				position: absolute;
				right: -23px;
				top: 2px;
				width: 20px;
				height: 20px;
				img{
					width: 20px;
					height: 20px;
				}
				&:hover{ cursor: pointer; }
				a.veiculos-da-unidade-form-set_visibilidade{
					position:relative;
					margin-top: 3px;
					display: block;
					width: 20px;
					height: 20px;
					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
					&.off{ background-position: -21px 0; }
					&.on{ background-position: 0 0; }
					&:hover:after{opacity:1;}
					&:after{
						transition: opacity .3s ease-in;
						content: "";
						display: block;
						position: absolute;
						top: 0;
						left: 0;
						width: 20px;
						height: 20px;
						background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
						background-position: 0 0;
						opacity:0;
					}
				}
				&:after{
					opacity: 0;
					transition: opacity .3s ease-in;
				}
				&.input-erro:after{
					width: 60px;
					position: absolute;
					left: 22px;
					top: 0px;
					color: #f6546a;
					opacity: 1;
					.ubuntu(10px);
				}
				&.obrigatorio:after{
					content: "« selecione a visibilidade";
					display: block;
				}
			}
		}
	}
}
