@import '../vars.less';

#preferencias-main{
	form{
		margin: 20px 0;
		padding: 20px 0;
		position: relative;
		fieldset{
			width: 80%;
			.register-form-input{
				position: relative;
				display: block;
				margin-bottom: 4px;
        background: #F0F0F0;
        box-sizing: border-box;
        width: 100%;
        height: 31px;
        line-height: 31px;
        border-radius: 5px;
        padding: 0 10px;
        color: @cinza-escuro;
        .ubuntu(12px);
        strong{
          font-weight: bold;
        }
				input[type="checkbox"]{
					&:focus{
  						outline: none;
  					}
				}
				&.input-espacado{ margin-bottom:20px; }
        &:hover{
          cursor:pointer;
        }
			}
		}
		input[type="submit"]{
			margin-top: 10px;
			text-align: center;
			background-color: @cinza;
			color: #fff;
			transition: all .3s ease-in;
			border-radius: 5px;
			box-sizing: border-box;
			width: 120px;
			height: 31px;
			line-height: 31px;
			transition: background-color .3s ease-in;
			.ubuntu(16px, bold);
			&:hover{
				background-color: @verde;
				cursor: pointer;
			}
		}
	}
}