@import '../vars.less';

#reserva-de-espacos-main{
	h1{
		text-transform: uppercase;
	}
	#lista-espaco{
		margin: 20px 0;
		border-top: 1px @verde solid;
		padding: 20px 0;
	}
	.grid-reserva{
		border-top: 1px @verde solid;
		padding: 20px 0;
		margin: 20px 0 0 0;
		#seleciona-data{
			max-height: 223px;
			font-size: 0;
			#calendario{
				.inline;
				width: 42%;
				.pika-single{
					max-width: 256px !important;
				}
			}
			#input-data{
				.inline;
				width: 57%;
				color: @cinza;
				.ubuntu(13px);
				label{
					display: block;
					& + label{
						margin: 15px 0;
					}
					input[type="text"]{
						margin-top: 4px;
						background: @cinza-claro;
						border: none;
						border-radius: 4px;
						height: 30px;
						padding: 4px 6px;
						box-sizing: border-box;
						color:@cinza;
						.ubuntu(14px);
						&#input-titulo-festa{
							width: 100%;
						}
					}
					input[type="submit"]{
						margin-top: 10px;
					}
				}
			}
		}
		.table-wrapper{
			width: 100%;
			overflow: hidden;
			position: relative;
			#navegacao-por-dia{
				position: absolute;
				width: 20px;
				height: 20px;
				top: 36px;
				right: 0;
			}
			table.tabela-horarios{
				border-collapse: collapse;
				margin: 30px 0 0 0;
				min-width: 800px;
				thead{
					tr{
						th{
							border: 1px @verde solid;
							height: 30px;
							line-height: 30px;
						}
					}
				}
				tbody{
					tr{
						td{
							border: 1px @verde solid;
							height: 22px;
							line-height: 22px;
							&.bloqueado{
								background-color:#99FF99;
							}
							&.reservado{
								background: #E6E6E6;
								color: @cinza;
								text-indent: 9px;
								white-space: nowrap;
								overflow: hidden;
								text-overflow: ellipsis;
								.ubuntu(12px, light);
							}
							&.livre{
								label{
									display: block;
									width: 100%;
									height: 100%;
									position: relative;
									&:hover{
										cursor:pointer;
										&:after{
											opacity: 1;
										}
									}
									input[type="checkbox"]{
										opacity:0;
									}
									&:after{
										position: absolute;
										top: 0;
										left: 0;
										width: 100%;
										height: 100%;
										content: "AGENDAR";
										background-color: @verde;
										color: #fff;
										padding: 0 10px;
										box-sizing: border-box;
										opacity:0;
										transition: opacity .3s ease-in;
										.ubuntu(12px, light);
									}
									&.selecionado:after{opacity:1;}
								}
							}
							&.minha-reserva{
								background-color: @verde;
								color: #fff;
								padding: 0 10px;
								box-sizing: border-box;
								.ubuntu(12px, light);
								.botoes{
									float: right;
									a{
										&.btn-circular{
											.inline;
											text-indent: -1px;
											margin: 3px 0 0 0;
											text-align: center;
										}
										&.btn-visualizar-reserva{
											.inline;
											width: 20px;
											height: 12px;
											margin: 1px 1px 0 0;
										}
									}
								}
							}
						}
					}
				}
				thead tr th,
				tbody tr td{
					max-width: 140px;
					width: 140px;
					min-width: 140px;
					white-space: nowrap;
				}
				thead tr th:first-child,
				tbody tr td:first-child{
					max-width: 60px;
					width: 60px;
					min-width: 60px;
					text-align: center;
				}
				thead tr:first-child th{
					border-left: none;
					border-top: none;
					text-align: center;
					.ubuntu(14px, bold);
					font-style: italic;
					color:@cinza-escuro;
					span{text-transform: uppercase;}
				}
				tbody tr td:first-child{
					border-left: none;
					color:@cinza-escuro;
					.ubuntu(12px, light);
				}
				thead tr th:nth-child(2),
				tbody tr td:nth-child(2).livre{
					background: #F1F1F2;
				}
			}
		}
		input[type='button']{
			margin-top:30px;
		}
	}
	#grid-por-diaria{
		#lista-reservas{
			margin: 20px 0;
			padding: 20px 0;
			border-top: 1px @verde solid;
			h2{
				color: @verde;
				.ubuntu(16px);
			}
			ul{
				margin: 10px 0;
				li{
					padding: 10px 20px;
					min-height: 30px;
					background: #F0F0F0;
					margin-bottom: 2px;
					.info-festa{
						line-height: 30px;
						color: @cinza-escuro;
						.ubuntu(14px, bold);
						span{}
					}
					.btn{
						margin-bottom: 0;
						padding-left: 12px;
						padding-right: 12px;
						margin-right: 4px;
					}
				}
			}
		}
	}
	#aviso-diaria{
		margin: 20px 0 0 0;
		border-top: 1px #6EC9B6 solid;
		background: #99FF99;
		box-sizing: border-box;
		padding: 20px;
		text-align: center;
		h2{
			.ubuntu(18px);
			text-align: center;
			color: @cinza-escuro;
			margin-bottom: 10px;
			strong{
				font-weight: bold;
			}
		}
		h3{
			.ubuntu(15px);
			text-align: center;
			color: @cinza-escuro;
			margin-bottom: 10px;
			strong{
				font-weight: bold;
			}
		}
		p{
			.ubuntu(14px);
			color: @cinza-escuro;
			line-height: 150%;
			margin: 20px 0;
			&.reduzido{
				margin: 5px 0;
			}
			&.texto-azul{
				color: @azul-setor-adm;
			}
			a{
				font-weight: bold;
				transition: all .3s ease-in;
				&:hover{
					text-decoration: underline;
					color: @azul-setor-adm;
				}
			}
		}
		hr{
			border-style: solid;
			border-color: #67DB97;
			border-width: 1px;
		}
		.resumo{
			margin: 20px 0;
			text-align: left;
			h3{
				.ubuntu(16px);
				color: @cinza-escuro;
				text-align: center;
			}
			p{
				a{
					font-weight: bold;
					transition: all .3s ease-in;
					color: @cinza-escuro;
					&:hover{
						text-decoration: underline;
						color: @azul-setor-adm;
					}
				}
			}
		}
		label{
			text-align: left;
			display: block;
			.ubuntu(12px);
			color: @cinza-escuro;
			&:hover{cursor:pointer;}
		}
		input[type=submit]{
			margin: 30px 0;
		}
		.swap-texto .final{
			display: none;
		}
	}
	#informacoes-reserva{
		min-height: 51px;
		line-height: 51px;
		border-top: 1px @verde solid;
		background: @cinza-claro;
		padding: 0 20px;
		margin: 20px 0 10px 0;
		color: @verde;
		.ubuntu(14px, bold);
	}
	form#armazena-convidados{
		padding: 20px 0;
		textarea{
			margin: 0 0 20px 0;
			padding: 6px 10px;
			background: @cinza-claro;
			width: 60%;
			height: 50px;
			border-radius: 3px;
			.ubuntu(14px);
			display: block;
			line-height: 140%;
			box-sizing: border-box;
		}
	}
	#convidados-lista{
		width: 60%;
		margin-bottom: 20px;
		li{
			height: 20px;
			line-height: 20px;
			padding: 2px 0;
			border-top: 1px @verde solid;
			.ubuntu(14px);
			color:@cinza-escuro;
			a.btn-danger{
				float: right;
			}
			&:last-child{border-bottom: 1px @verde solid;}
		}
	}
}
