@import '../vars.less';

#avisos-main{
	#dashboard-avisos{
		margin: 30px 0;
	}
	#dashboard-avisos-lidos{
		margin: 30px 0;
		h2{
			.ubuntu(18px);
			color: @verde;
			margin: 0 0 15px 0;
		}
		ul.lista-avisos-lidos{
			list-style: none;
			li{
				display: block;
				margin: 0 0 10px 0;
				background: @cinza-claro;
				border-radius: 5px;
				padding: 13px 8px 13px 20px;
				width: 100%;
				box-sizing: border-box;
				.coluna-esquerda{
					.inline;
					width: 20%;
					.aviso-timestamp{
						.ubuntu(10px, bold);
						min-height: 20px;
						line-height: 20px;
						color: @cinza;
					}
				}
				.coluna-direita{
					.inline;
					width: 80%;
					.aviso-titulo{
						h3{
							min-height: 20px;
							line-height: 20px;
							max-width: 60%;
							.ubuntu(13px);
							color: @cinza-escuro;
							text-transform: uppercase;
						}
					}
					.aviso-link{
						float: right;
						a{
							box-sizing: border-box;
							height: 20px;
							line-height: 20px;
							border-radius: 4px;
							display: block;
							background: url('../../images/layout/moradores/setinha-regular-on.png') transparent left center no-repeat;
							.ubuntu(13px, bold);
							font-style: italic;
							padding: 0 12px 0 18px;
							width: 100%;
							color: @verde;
							transition: background .3s ease-in,
										color .3s ease-in;
							&:active, &:visited{color: @verde;}
							&:hover{
								background: url('../../images/layout/moradores/setinha-regular.png') @amarelo left center no-repeat;
								color: #fff;
							}
							&:after{
								content: "";
								background: url('../../images/layout/moradores/setinha-regular.png') @amarelo left center no-repeat;
							}
						}
					}
				}
			}
		}
		ul.pagination{
			text-align: center;
			font-size: 0;
			li{
				.inline;
				margin: 0 2px 2px 2px;
				width: 20px;
				height: 20px;
				line-height: 20px;
				text-align: center;
				span,
				a{
					width: 20px;
					height: 20px;
					background: @cinza;
					display: block;
					color: #fff;
					transition: background .3s ease-in;
					.ubuntu(12px, bold);
					&:active, &:visited{color: #fff;}
				}
				&.disabled{ display: none; }
				&.active a,
				&.active span{
					background: @verde;
				}
				&:hover a{background: @verde;}
			}
		}
	}
	#avisos-detalhes{
		.lista-aviso-detalhe{
			margin: 0 0 10px 0;
			background: @cinza-claro;
			border-radius: 5px;
			padding: 20px;
			.coluna-esquerda{
				.inline;
				width: 20%;
				.aviso-timestamp{
					.ubuntu(10px, bold);
					color: @cinza;
					margin-bottom: 10px;
				}
			}
			.aviso-marcar-lido-inferior,
			.aviso-marcar-lido{
				.aviso-lido-data{
					opacity: 1;
					color: @verde;
					transition: opacity .3s ease-in;
					font-style: italic;
					.ubuntu(10px, bold);
					&.apagado{
						opacity: 0;
					}
				}
				label{
					.ubuntu(10px, bold);
					color: @cinza;
					display: block;
					height:14px;
					line-height:14px;
					cursor: pointer;
					font-style: italic;
					input[type="checkbox"]{
						vertical-align: top;
					}
				}
			}
			.aviso-marcar-lido-inferior .aviso-lido-data br{
				display: none;
			}
			.coluna-direita{
				.inline;
				width: 80%;
				.aviso-titulo{
					h3{
						.ubuntu(15px, bold);
						color: @cinza-escuro;
						text-transform: uppercase;
						margin-bottom: 4px;
					}
				}
				.aviso-chamada-texto{
					.ubuntu(14px, bold);
					margin-bottom: 20px;
					line-height: 150%;
					color: @cinza-escuro;
				}
				.aviso-texto p{
					.ubuntu(14px);
					line-height: 150%;
					color: @cinza-escuro;
				}
				.aviso-assinatura{
					.ubuntu(14px);
					color: @cinza-escuro;
					font-style: italic;
					margin: 30px 0 10px 0;
				}
			}
		}
	}
}