@import '../vars.less';

#amizades-main{
  .amizades-subnav{
    border-bottom: 1px @success solid;
    padding-bottom: 10px;
    .btn + .btn{
      margin-left: 10px;
    }
  }
  p.espacamento-extra{
    margin: 20px 0;
  }
  div.input-busca{
    margin: 20px 0;
    label{
      display: inline-block;
      vertical-align: middle;
      .ubuntu(12px);
      color: @cinza-escuro;
    }
    input[type="text"]{
      display: inline-block;
      vertical-align: middle;
      background: url('../../images/layout/portaria/icone-lupa.png') #F0F0F0 98% center no-repeat;
      box-sizing: border-box;
      width: 260px;
      height: 31px;
      border-radius: 5px;
      padding: 0 10px;
      color: @cinza-escuro;
      border: 1px @cinza solid;
      transition: all .3s ease-in;
      margin-left: 20px;
      .ubuntu(12px);
      &:focus{
          outline: none;
        }
      }
      &.input-inline{
      .inline;
      margin-right: 4px;
    }
  }
  #lista-moradores{
      max-width: 80%;
      li{
        margin-bottom: 5px;
        font-size: 0;
        label{
          border-radius: 4px;
          background: @cinza-claro;
          box-sizing: border-box;
          padding: 5px 10px;
          width: 100%;
          display: block;
          height: 50px;
          transition: all .3s ease-in;
          .input{
            float: left;
            width: 20px;
            line-height: 40px;
            text-align: center;
            input[type="checkbox"]{
            }
          }
          .imagem{
            float: left;
            width: 40px;
            padding: 0 10px;
            img{
              max-width: 100%;
              border-radius: 4px;
              border: 1px @cinza-claro solid;
            }
          }
          .nome{
            float: left;
            height: 40px;
            line-height: 40px;
            transition: all .1s ease-out;
            .ubuntu(12px);
            strong{ font-weight: bold; }
          }
          &:after{
            content: "";
            display: table;
            clear: both;
          }
          &:hover{
            cursor: pointer;
            background-color: @success;
            color: #fff;
          }
        }
        &:first-child{
          label{
            height: 35px;
            background: transparent;
            .input{
              line-height: 25px;
              input[type="checkbox"]{
                margin-top: 6px;
              }
            }
            .nome{
              transition: all .3s ease-in;
              padding-left: 10px;
              height: 25px;
              line-height: 25px;
            }
            &:hover{
              .nome{
                color: @success;
              }
            }
          }
        }
      }
    }
  #resultado-busca-amigos{
    padding: 30px 0;
    #carregando-resultados{
      display: none;
    }
    #lista-amizades{
      display: none;
      li{
        padding: 10px;
        border-radius: 4px;
        background: @cinza-claro;
        box-sizing: border-box;
      }
      li:not(.sem-resultados){
        width: 48%;
        font-size: 0;
        display: inline-block;
        vertical-align: top;
        margin-bottom: 10px;
        .imagem{
          width: 32%;
          display: inline-block;
          vertical-align: top;
          img{
            max-width: 100%;
            max-height: 100%;
            border-radius: 4px;
          }
        }
        .texto{
          width: 68%;
          display: inline-block;
          vertical-align: top;
          padding-left: 18px;
          box-sizing: border-box;
          color: @cinza-escuro;
          line-height: 130%;
          .ubuntu(13px);
          .nome{
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
          }
          .unidade{
            font-weight: bold;
            font-size: 12px;
          }
          .tel{
            span{
              font-size: 10px;
            }
          }
        }
        &:nth-child(odd){
          margin-right: 15px;
        }
      }
      li.sem-resultados{
        width: 100%;
        text-align: center;
        .ubuntu(16px);
        color: @cinza-escuro;
      }
    }
  }
}