@import '../vars.less';

#festas-particulares-main{
	h1{
		text-transform: uppercase;
	}
	#lista-espaco{
		margin: 20px 0;
		border-top: 1px @verde solid;
		padding: 20px 0;
	}
	.grid-reserva{
		border-top: 1px @verde solid;
		padding: 20px 0;
		margin: 20px 0 0 0;
		#seleciona-data{
			max-height: 223px;
			font-size: 0;
			#calendario{
				.inline;
				width: 42%;
				.pika-single{
					max-width: 256px !important;
				}
			}
			#input-data{
				.inline;
				width: 57%;
				color: @cinza;
				.ubuntu(13px);
				label{
					position: relative;
					display: block;
					& + label{
						margin: 15px 0;
					}
					input[type="text"]{
						position: relative;
						margin-top: 4px;
						background: @cinza-claro;
						border: none;
						border-radius: 4px;
						height: 30px;
						padding: 4px 6px;
						box-sizing: border-box;
						color:@cinza;
						.ubuntu(14px);
						&#input-titulo-festa{
							width: 100%;
						}
					}
					input[type="submit"]{
						margin-top: 10px;
					}
					&.input-erro{
						input{
							background: #fbedeb;
	  						border: 1px solid #ec9488;
	  						&:focus{
	  							outline: none;
	  							box-shadow: 0 0 6px #ec9488;
	  						}
	  					}
					}
					&.input-erro:after{
						text-align: right;
						position: absolute;
						right: 4px;
						bottom: 2px;
						color: #f6546a;
						display: block;
						.ubuntu(10px);
					}
  					&.obrigatorio:after{ content: "campo obrigatório"; }
  					&.data-invalida:after{ content: "data inválida"; }
				}
			}
		}
		input[type='button']{
			margin-top:30px;
		}
		#lista-reservas{
			margin: 20px 0;
			padding: 20px 0;
			border-top: 1px @verde solid;
			h2{
				color: @verde;
				.ubuntu(16px);
			}
			ul{
				margin: 10px 0;
				li{
					padding: 10px 20px;
					min-height: 30px;
					background: #F0F0F0;
					margin-bottom: 2px;
					.info-festa{
						line-height: 160%;
						padding-bottom: 3px;
						color: @cinza-escuro;
						.ubuntu(14px, bold);
						span{}
					}
					.btn{
						margin-bottom: 0;
						padding-left: 12px;
						padding-right: 12px;
					}
				}
			}
		}
	}
}