@import '../vars.less';

#alterar-senha-main{
	form{
		margin: 20px 0;
		padding: 20px 0;
		//border-top: 1px @success solid;
		position: relative;
		fieldset{
			width: 400px;
			.register-form-input{
				position: relative;
				display: block;
				margin-bottom: 4px;
				input[type="password"]{
					background: #F0F0F0;
					box-sizing: border-box;
					width: 100%;
					height: 31px;
					border-radius: 5px;
					padding: 0 10px;
					color: @cinza-escuro;
					transition: all .3s ease-in;
					.ubuntu(12px);
					&:focus{
  						outline: none;
  					}
				}
				&.input-inline{
					.inline;
					margin-right: 4px;
				}
				&.input-peq{ width: 70px; }
				&.input-med{ width: 155px; }
				&.input-espacado{ margin-bottom:20px; }
				&.input-erro{
					input{
						background: #fbedeb;
  						border: 1px solid #ec9488;
  						&:focus{
  							outline: none;
  							box-shadow: 0 0 6px #ec9488;
  						}
  					}
				}
				&.input-erro:after{
					text-align: right;
					position: absolute;
					right: 4px;
					bottom: 2px;
					color: #f6546a;
					display: block;
					.ubuntu(10px);
				}
				&.obrigatorio:after{ content: "campo obrigatório"; }
				&.email-invalido:after{ content: "e-mail inválido"; }
				&.confirmacao-senha-invalida:after{ content: "confirmação de senha inválida"; }
				&.email-em-uso:after{ content: "e-mail já está em uso"; }
				&.nao-confere:after{ content: "senha não confere"; }
			}
		}
		.register-input-addon{
			position: absolute;
			right: -23px;
			top: 2px;
			width: 20px;
			height: 20px;
			img{
				width: 20px;
				height: 20px;
			}
			&:hover{ cursor: pointer; }
			a.register-form-set_visibilidade{
				position:relative;
				margin-top: 3px;
				display: block;
				width: 20px;
				height: 20px;
				background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
				&.off{ background-position: -21px 0; }
				&.on{ background-position: 0 0; }
				&:hover:after{opacity:1;}
				&:after{
					transition: opacity .3s ease-in;
					content: "";
					display: block;
					position: absolute;
					top: 0;
					left: 0;
					width: 20px;
					height: 20px;
					background: url('../../images/layout/moradores/sprite-visualizacao.png') no-repeat;
					background-position: 0 0;
					opacity:0;
				}
				&.visib-email{}
				&.visib-tel_fixo{}
				&.visib-tel_cel{}
				&.visib-tel_com{}
			}
			#register-visibilidade-email{
				display: none;
			}
			&:after{
				opacity: 0;
				transition: opacity .3s ease-in;
			}
			&.input-erro:after{
				width: 60px;
				position: absolute;
				left: 22px;
				top: 0px;
				color: #f6546a;
				opacity: 1;
				.ubuntu(10px);
			}
			&.obrigatorio:after{
				content: "« selecione a visibilidade";
				display: block;
			}
		}
		.input-foto{
			position: absolute;
			right: 0;
			top: 20px;
			width: 150px;
			height: 120px;
			.register-input-addon{
				right: 0;
			}
			.register-foto-placeholder{
				width: 110px;
				height: 110px;
				border: 1px @verde solid;
				margin: 5px;
				outline: 5px @cinza-claro solid;
				background: @cinza-claro;
				label{
					transition: all .3s ease-in;
					position: relative;
					display: block;
					width: 110px;
					height: 110px;
					cursor: pointer;
					&:hover{}
					p{
						transition: color .3s ease-in;
						.ubuntu(14px);
						line-height: 130%;
						color: @cinza-escuro;
						text-align: center;
						position: relative;
						top: 50%;
						transform: translateY(-50%);
					}
					img{
						max-width: 100%;
						max-width: 100%;
						position: absolute;
						top: 0;
						left: 0;
					}
					input{
						position: absolute;
						opacity: 0;
					}
					#upload-progresso{
						position: absolute;
						width: 60px;
						height: 3px;
						border-radius: 3px;
						left: 25px;
						bottom: 15px;
						border-radius: 3px;
						border: 1px #ccc solid;
						opacity: 0;
						transition: opacity .3s ease-in;
						.barra{
							height: 3px;
							width: 10%;
							background-color: @verde;
						}
					}
					&.enviando{
						#upload-progresso{
							opacity: 0.8;
						}
					}
					&.input-erro{
						background: #fbedeb;
  						box-shadow: 0 0 14px #ec9488;
  						p {color: #f6546a;}
					}
				}
			}
		}
		input[type="submit"]{
			margin-top: 10px;
			text-align: center;
			background-color: @cinza;
			color: #fff;
			transition: all .3s ease-in;
			border-radius: 5px;
			box-sizing: border-box;
			width: 120px;
			height: 31px;
			line-height: 31px;
			transition: background-color .3s ease-in;
			.ubuntu(16px, bold);
			&:hover{
				background-color: @verde;
				cursor: pointer;
			}
		}
	}
}